.form-popup.product-edit{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-edit .form-part {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
