#search {
    background-color: black;
    color: #fff;
    height: 550px;
    margin: 48px 20px;
    font-weight: bold;
    padding: 15px 10px;
    width: 220px;
    margin-top: 0;
}

#search .seach-by-name{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  
  #search .seach-by-name input{
    background-color: black;
    border: 1px solid #fff;
    color: #fff;
    width: 200px;
    padding: 5px;
}


#search .seach-by-price .input-price{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#search .seach-by-price .input-price input{
  width: 50%;
}

#search .size{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#search .size label:first-child{
  margin-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
#search .container input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}
#search .container input[type="checkbox"] {
  appearance: none;
  background-color: #000000;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

#search .container input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
}
.price{
  all: unset;
  background-color: #000000;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#search .container input[type="checkbox"] {
  display: grid;
  place-content: center;
}

#search .container input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
}

#search .container input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#search .category-dropdown{
  margin-top: 15px;
}

#search .category-dropdown select{
  background-color: #000000;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  margin-top: 10px;
}
